mixin reviews-slide()

	div.reviews__slide.swiper-slide
		div.reviews__text “Пространство Anima - это не просто зал для занятий йогой. Это даже больше, чем способ провести своё время с пользой. Это - стиль жизни ... место, где можно отвлечься от повседневных забот.”
		div.reviews__img
			img(src="design/img/reviews/review__1.jpg", alt="review1")
		div.reviews__name Елизавета Макарова
			span.reviews__vocation Блогер