div.popup-founder-word
	div.popup-founder-word__bg.popup-founder-word-close
	div.popup-founder-word__container
		div.popup-founder-word__btn-close-box
			div.popup-founder-word__btn-close.popup-founder-word-close
		div.popup-founder-word__title Слово основателя ANIMA
		div.popup-founder-word__text-box
			p.popup-founder-word__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ullam autem voluptatibus aliquam impedit ipsum tempore hic libero, ipsa beatae assumenda reprehenderit nemo vel quia deleniti architecto. Unde, dolores voluptatem.