div.info-lessons(data-type="type3")
	div.info-lessons__bg.info-lessons-close
	div.info-lessons__container
		div.info-lessons__btn-close.info-lessons-close
		div.info-lessons__swiper
			div#info-lessons-slider.swiper-wrapper
				div.info-lessons__slide.swiper-slide
					img(src="design/img/info-lessons/img__1.jpg", alt="img1")
				div.info-lessons__slide.swiper-slide
					img(src="design/img/info-lessons/img__1.jpg", alt="img2")
				div.info-lessons__slide.swiper-slide
					img(src="design/img/info-lessons/img__1.jpg", alt="img3")
			div.info-lessons__swiper-pagination
			div.info-lessons__button.info-lessons__button--prev
			div.info-lessons__button.info-lessons__button--next
		div.info-lessons__body
			span.info-lessons__small-text Занятия
			div.info-lessons__title ШАХТИ-ЙОГА
			div.info-lessons__text Почти все современные виды йоги являются той или иной разновидностью хатха йоги. Родилось это направление в 6 в. н. э. и считается самым новым направлением среди классических.
				br
				| Ее основные элементы — определенные позы (асаны), упражнения на дыхание (пранаяма), расслабление и медитация. Цель Хатха йоги достичь душевного покоя и баланса между телом, духом и окружающим миром.
			button.info-lessons__btn-video.popup-video-open(data-video="type2") Смотреть видео
			div.info-lessons__footer
				div.info-lessons__info-time-box
					div.info-lessons__info-time-item
						span.info-lessons__info-time-item--day ПН
						span.info-lessons__info-time-item--time 19:30 - 21:00
					div.info-lessons__info-time-item
						span.info-lessons__info-time-item--day СР
						span.info-lessons__info-time-item--time 19:30 - 21:00
					div.info-lessons__info-time-item
						span.info-lessons__info-time-item--day ПТ
						span.info-lessons__info-time-item--time  19:30 - 21:00
				div.info-lessons__btn-box
					button.info-lessons__btn.btn-enroll.popup-main-open.popup-open.popup-lessons-individual(data-lesson = '6') Записаться