div.info-masters.category1.category2(data-type="master2")
	div.info-masters__bg.info-masters-close
	div.info-masters__container
		div.info-masters__btn-close.info-masters-close
		div.info-masters__img-box
			img(src="design/img/masters/photo__2.jpg", alt="photo")
		div.info-masters__body
			span.info-masters__small-text Мастер
			div.info-masters__title ФЁДОРОВА АЛЕКСАНДРА
			div.info-masters__icons-box
				div.info-masters__icon-img-box(data-type="category1")
					img.info-masters__icon(src="design/img/icons/icon-meditation__1--small.png", alt="meditation__1")
					div.info-masters__icon-info Шакти Йога
				div.info-masters__icon-img-box(data-type="category2")
					img.info-masters__icon(src="design/img/icons/icon-meditation__2--small.png", alt="meditation__2")
					div.info-masters__icon-info Пилатес
				div.info-masters__icon-img-box(data-type="category3")
					img.info-masters__icon(src="design/img/icons/icon-meditation__3--small.png", alt="meditation__3")
					div.info-masters__icon-info Йога
			div.info-masters__text Почти все современные виды йоги являются той или иной разновидностью хатха йоги. Родилось это направление в 6 в. н. э. и считается самым новым направлением среди классических.
				br
				| Ее основные элементы — определенные позы (асаны), упражнения на дыхание (пранаяма), расслабление и медитация. Цель Хатха йоги достичь душевного покоя и баланса между телом, духом и окружающим миром.
			button.info-masters__btn-video.popup-video-open.popup-open(data-video="type2") Смотреть видео
			div.info-masters__btn-box
				button.info-masters__btn.btn-enroll.popup-main-open.popup-open.popup-masters-individual(data-master = '2') Записаться