div.price
	div.price__bg.price-close
	div.price__container
		div.price__btn-close.price-close
		div.price__title СТОИМОСТЬ ЗАНЯТИЙ
		div.price__table
			div.price__head-mobile
				div.price__head-item Занятие и срок действия
				div.price__head-item Стоимость
			//- Group 1
			div.price__table-body
				div.price__table-row.price__table-row--head
					div.price__table-left-container
						div.price__table-name.price__table-name--head Занятие
						div.price__table-limit.price__table-limit--head Срок действия
					div.price__table-price.price__table-price--head Стоимость
				div.price__table-row
					div.price__table-left-container
						div.price__table-name Разовое групповое занятие
						div.price__table-limit -
					div.price__table-price 2 000 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name 4 групповых занятия
						div.price__table-limit 1 месяц
					div.price__table-price 7 200 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name 8 групповых занятия
						div.price__table-limit 1,5 месяца
					div.price__table-price 13 200 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name 12 групповых занятия
						div.price__table-limit 2 месяца
					div.price__table-price 18 000 &#8381
			//- Group 2
			div.price__table-body.price__table-body--group
				div.price__table-row
					div.price__table-left-container
						div.price__table-name 1 безлимитный месяц
						div.price__table-limit -
					div.price__table-price 25 500 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name 3 безлимитных месяца
						div.price__table-limit -
					div.price__table-price 32 900 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name 6 безлимитных месяцев
						div.price__table-limit -
					div.price__table-price 42 000 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name 12 безлимитных месяцев
						div.price__table-limit 30 дней заморозки
					div.price__table-price 60 000 &#8381
			//- Group 3
			div.price__table-body.price__table-body--group
				div.price__table-row
					div.price__table-left-container
						div.price__table-name Индивидуальные заняти (60 мин.)
						div.price__table-limit 60 минут
					div.price__table-price 3 500 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name Индивидуальные заняти (90 мин.)
						div.price__table-limit 90 минут
					div.price__table-price 4 500 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name Индивидуальное занятие для 2-х человек (60 мин.)
						div.price__table-limit 60 минут
					div.price__table-price 4 500 &#8381
				div.price__table-row
					div.price__table-left-container
						div.price__table-name Индивидуальное занятие для 2-х человек (90 мин.)
						div.price__table-limit 90 минут
					div.price__table-price 6 000 &#8381